<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>头条</string>
		<key>mod</key>
		<string></string>
		<key>dtid</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string></string>
		<key>classmore</key>
		<string>indexpic</string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>独家</string>
		<key>mod</key>
		<string>八卦</string>
		<key>dtid</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string>heronews</string>
		<key>classmore</key>
		<string></string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>暗黑3</string>
		<key>mod</key>
		<string></string>
		<key>dtid</key>
		<string>83623</string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string></string>
		<key>classmore</key>
		<string>indexpic</string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>魔兽</string>
		<key>mod</key>
		<string></string>
		<key>dtid</key>
		<string>31537</string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string></string>
		<key>classmore</key>
		<string>indexpic</string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>风暴</string>
		<key>mod</key>
		<string></string>
		<key>dtid</key>
		<string>31538</string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string></string>
		<key>classmore</key>
		<string>indexpic</string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>炉石</string>
		<key>mod</key>
		<string></string>
		<key>dtid</key>
		<string>31528</string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string></string>
		<key>classmore</key>
		<string>indexpic</string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>星际2</string>
		<key>mod</key>
		<string></string>
		<key>dtid</key>
		<string>91821</string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string></string>
		<key>classmore</key>
		<string></string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>守望</string>
		<key>mod</key>
		<string></string>
		<key>dtid</key>
		<string>57067</string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string></string>
		<key>classmore</key>
		<string></string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>攻略</string>
		<key>mod</key>
		<string></string>
		<key>dtid</key>
		<string>83623,31528,31537,31538,57067,91821</string>
		<key>type</key>
		<string>guide</string>
		<key>class</key>
		<string></string>
		<key>classmore</key>
		<string></string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>幻化</string>
		<key>mod</key>
		<string>幻化</string>
		<key>dtid</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string>heronews</string>
		<key>classmore</key>
		<string></string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>趣闻</string>
		<key>mod</key>
		<string>趣闻</string>
		<key>dtid</key>
		<string>0</string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string>heronews</string>
		<key>classmore</key>
		<string>indexpic</string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>COS</string>
		<key>mod</key>
		<string>COS</string>
		<key>dtid</key>
		<string>0</string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string>heronews</string>
		<key>classmore</key>
		<string>indexpic</string>
		<key>id</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>美女</string>
		<key>mod</key>
		<string>美女</string>
		<key>dtid</key>
		<string></string>
		<key>type</key>
		<string></string>
		<key>class</key>
		<string>heronews</string>
		<key>classmore</key>
		<string>indexpic</string>
		<key>id</key>
		<string></string>
		<key>typechild</key>
		<string>cos1</string>
	</dict>
    <dict>
        <key>title</key>
        <string>推荐</string>
        <key>mod</key>
        <string></string>
        <key>dtid</key>
        <string></string>
        <key>type</key>
        <string></string>
        <key>class</key>
        <string>cookielike</string>
        <key>classmore</key>
        <string></string>
        <key>id</key>
        <string>334961,334948,334932,334882,334359,</string>
    </dict>
</array>
</plist>
