<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011447488529-g09h7dbkh4387hjpe215rdrmhtuflqo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011447488529-g09h7dbkh4387hjpe215rdrmhtuflqo0</string>
	<key>API_KEY</key>
	<string>AIzaSyBb8SU2JA-ybLKNI0O9c-v4pKI8EJQYwlM</string>
	<key>GCM_SENDER_ID</key>
	<string>1011447488529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sports.NewsOrgy</string>
	<key>PROJECT_ID</key>
	<string>newsorgy</string>
	<key>STORAGE_BUCKET</key>
	<string>newsorgy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011447488529:ios:9e23edff294b8e8e8f11b0</string>
	<key>DATABASE_URL</key>
	<string>https://newsorgy.firebaseio.com</string>
</dict>
</plist>